<div class="ui card lista-seguros">
    <div class="content">
      <div class="header">Seguros</div>
    </div>
    <div class="content">

      <div *ngFor="let seguro of seguros" class="claim-row">
        <div>
          <strong>Marca e Modelo: </strong>{{ seguro.marcaCarro }} - {{ seguro.modeloCarro }}
        </div>
        <div>
          <strong>Proprietário: </strong>{{ seguro.proprietario.nome }} {{ seguro.proprietario.sobrenome }}
        </div>
      </div>

      <div *ngIf="!seguros || seguros.length === 0">
        Não há seguros cadastrados.
      </div>
    </div>
  </div>
